<footer class="footer-container">
    <div class="footer-wrapper">
        <div class="title-container">
            <h2>Simon Palm Nordholm</h2>
            <p>Gävle, Sweden</p>
        </div>

        <div class="info-container">
            <p>Email: <a href="mailto:simon@example.com">simonnordholmwork&#64;gmail.com</a></p>
            <p>&#169; {{year}} Simon Palm Nordholm. All rights reserved.</p>
        </div>

        <div class="link-container">
            <a href="https://github.com/palmen01" aria-label="GitHub">
                <img src="github.svg" alt="GitHub">
            </a>
            <a href="https://linkedin.com/in/simon-palm-nordholm-2bb440290/" aria-label="LinkedIn">
                <img src="linkedin.png" alt="LinkedIn">
            </a>
            <a href="mailto:simonnordholmwork@gmail.com" aria-label="Email">
                <img src="gmail.svg" alt="Email">
            </a>
        </div>
    </div>
</footer>