<section class="section-body">
  <div class="slide-container swiper">
    <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
        <div class="card swiper-slide">
          <div class="image-content">
            <span class="overlay"></span>

            <div class="card-image">
              <img src="Planera.PNG" alt="" class="card-img">
            </div>
          </div>

          <div class="card-content">
            <h2 class="name">Planera</h2>
            <p class="description">blablablablablablablablablablablablablablablablablablablablablablablabla</p>
            <button class="button">View More</button>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

  </div>
</section>























<!-- <div class="carousel-wrapper">
  <div class="carousel-container">
    <button mat-button (click)="previous()">&lt;</button>

    <div class="carousel">
      <div class="carousel-item" *ngFor="let item of visibleItems" [@slideAnimation]="animationState">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ item.title }}</mat-card-title>
            <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
          </mat-card-header>
          <div class="card-image-container">
            <img mat-card-image [src]="item.image" alt="Photo of {{ item.title }}">
          </div>
          <mat-card-content>
            <p>{{ item.description }}</p>
          </mat-card-content>
          <mat-card-actions class="links">
            <a mat-button>Github</a>
            <a mat-button>Website</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <button mat-button (click)="next()">&gt;</button>
  </div>
</div> -->