<div class="container">
  <h1>About Me</h1>
  <div class="content">
    <p>
      Hi! My name is Simon, and I recently graduated as a .NET full-stack developer. I have always had an interest in tech, and I'm continuously learning more each day.
    <br><br>
      On this website, you can find links to my projects. Feel free to browse around.
    <br><br>
     I'm currently seeking job opportunities as a full-stack, backend, or frontend developer. Please reach out if you have a position open or if you have any questions.
    </p>

    <img src="me.jpg" alt="Profile Picture" class="img" />
  </div>
</div>