<div class="container">
  <h1>About Me</h1>
  <div class="content">
    <p>
      I'm a 28-year-old developer with a strong passion for technology, coding, and solving complex problems.
        <br><br>

        text text

        <br><br>
        I'm currently seeking a developer position where I can grow, contribute meaningfully, and continue refining my skills. Feel free to reach out if you'd like to connect or learn more.
    </p>

    <img src="me.jpg" alt="Profile Picture" class="img" />
  </div>
</div>