<!-- backround video insert here -->
<!-- <video autoplay muted loop id="background-video">
  <source src="12006886_1080_1920_60fps.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video> -->
<app-navbar (scrollTo)="scrollToSection($event)"></app-navbar>

<section class="section-with-divider">
    <div class="custom-shape-divider-top-1748776481">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<app-hero></app-hero>
<app-about-me id="about-me"></app-about-me>
<app-skilltree id="my-skills"></app-skilltree>
<app-carousel id="projects"></app-carousel>
<app-contact-form id="contact-form"></app-contact-form>