/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3fb6b6 20%, #FAF3E0 100%); 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body { height: 100%;  max-width: 100vw; }
/* overflow-x: hidden; */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

